@charset "UTF-8";

@use "tailwindcss/base";
@use "tailwindcss/components";
@use "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kiwi+Maru&family=Lato:ital@0;1&family=Lora&family=M+PLUS+1&family=Zen+Antique+Soft&display=swap');

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  user-select: none;
  &.filled {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
  }
}

html,
body {
  @apply h-full m-0;
  padding-top: 30px;
}

.flex{
  display: flex;
}

.width-50{
  width: 95%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 5px;
  padding-left: 5px;
  margin: auto;
  border: solid;
  border-color: #ffffff;
  border-radius: 15px;
  border-width: 4px;
}

.left-color{
  background-color: aqua;
}

.right-color{
  background-color: bisque;
}

/* 基本的な input スタイル */
input {
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

/* フォーカス時のスタイル */
input:focus {
  border-color: #0077cc;
  box-shadow: 0 0 5px rgba(0, 119, 204, 0.4);
}

/* 無効な入力時のスタイル */
input:invalid {
  border-color: #cc0000;
}


h1{
  text-align: center;
  font-size: 40px;
  background-color: #006400;
  color: #ffffff;
}

p{
  text-align: center;
}

/* ボタンのスタイル */
button {
  /* 背景色 */
  background-color: #4CAF50;
  /* テキストの色 */
  color: white;
  /* フォントサイズ */
  font-size: 16px;
  /* パディング */
  padding: 10px 20px;
  /* ボーダー */
  border: none;
  /* 角丸 */
  border-radius: 5px;
  /* カーソル */
  cursor: pointer;
  width: 100%;
}

button:hover{
  background-color: #006400;
}

.syoukai{
  border: solid;
  border-color: #000000;
  border-radius: 5px;
  margin: auto;
  width: 90%;
  margin-top: 15px;
  margin-bottom: 15px;
}

h2{
  font-size: 25px;
  text-align: center;
}

.mini-buttom{
  width: 70% !important;
  margin-left: 15%;
  margin-right: 15%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.clear{
  background-color: #cc5555;
}

.clear:hover{
  background-color: #cc0000;
}